.header {
  -fx-text-fill: #ffffff;
  -fx-background-color: linear-gradient(to right, #d66565, #c22323, #ac0202);
}

.body {
  -fx-background-color: #fbf0f6;
}

.white-bg {
  -fx-background-color: #ffffff;
}

.radius {
  -fx-background-radius: 15px;
}

.transparent {
  -fx-background-color: transparent;
}

.scroll-pane > .viewport {
  -fx-background-color: transparent;
}

.scroll-pane {
  -fx-background-color: #f0f0f0;
}
