.search-bar {
  -fx-border-color: linear-gradient(to right, #e6ba38, #ebd8a1);
  -fx-border-width: 7px;
  -fx-border-radius: 10px;
  -fx-background-color: transparent;
}

.search-text-field {
  -fx-background-color: transparent;
  -fx-text-fill: linear-gradient(to right, #3d0000, #752a2a);
  -fx-font-size: 18px;
  -fx-padding: 10px;
}
