.button {
  -fx-text-fill: #3d0000;
  -fx-font-size: 20px;
  -fx-background-color: #e9b414;
}

.button:hover {
  -fx-background-color: linear-gradient(to right, #e9b51b, #e7cb78);
  -fx-text-fill: #000000;
}

.shadow {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0, 0, 0);
}
